body {
    background-image: url('images/cardTable.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#cards-container{
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    margin-bottom: 20px;

}

#cards-container img {

    margin: 5px;
  }
  
#hand-rank {
  color:white;
  margin-bottom: 120px;
  margin-top: 150px;
  font-size: 50px;
  font-weight: bold;
  justify-content: center; 
  display: flex;
}