body {
    background-image: url('images/cardTable.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#cards-container{
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    margin-bottom: 20px;

}

#cards-container img {

    margin: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  #cards-container img:hover {
    transform: translateY(-10px);
  }